#info
{   
    position: absolute;
    left: 40%;
    top: 15vh;
    border: 2px solid black;
    height: 70vh;
    width: 45vw;
    z-index: -1;
    /* box-shadow: 0 0 20px  black; */
}
#col
{    left: 0%;
    transition: 0.2s linear;
    position: absolute;
    width:7.5vw;
    height: 4vh ;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    opacity: 50%;
}
#auth
{   display: flex;
    overflow: hidden;
    transition: 0.2s linear;
    z-index: 1;
    position: absolute;
    left: 20%;
    top: 11vh;
    border: 2px solid black;
    height: 78vh;
    width: 25vw;
    background-color: white;
    /* box-shadow: 10px 30px 30px  black; */
}
#auth:hover
{   z-index: 1;
    position: absolute;
    left: 20%;
    top: 10vh;
    border: 2px solid black;
    height: 80vh;
    width: 25vw;
    background-color: white;
    box-shadow: 10px 30px 30px  black;
}

.ath
{   overflow-x: hidden;
    white-space: nowrap;
    position: absolute;
    left: 0%;
    top: 15vh;
    border: 1px solid black;
    height: 40vh;
    width: 25vw;
    /* z-index: ; */
    transition: 0.3s linear;
}
#log{
 position: relative;
 left: 0%;
}
#sig{
    position: relative;
    left: 0%;
}

#but{
   
    display: flex;
    position: absolute;
    left: 20%;
    top: 10vh;
    border: 2px solid black;
    height: 4vh;
    width: 15vw;
}

.tog {
    z-index: 1;
    width:7.5vw;
    height: 4vh ;
}

#bar
{
    position: relative;
    display: flex;
    width: 80vw;
    left: 0%;
}

.inp{
    font-size: large;
    height: 4vh;
    align-self: center;
    position: relative;
    width: 10vw;
}

#email{
    top: 10vh;
    left: 13vh;
}
#password{
   top: 23vh;
   left: -7.5vh;
}

#sub{
    top: 35vh;
    left: -13.5vw;
    width: 8vw;
}

#Semail{
    top: 2vh;
    left: 7vw;
}

#Spassword{
    top: 12vh;
    left: -3.5vw;
}

#SCpassword{
    top: 22vh;
    left: -14vw;
}

#Ssub
{
    left: -24.5vw;
    top: 35vh;
}

#inf {
    position: relative;
    left: 14vw;
    top: 30vh;
}