<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="fstyle.css">
</head>

<body>
    <div id="info">
        <h1 id="inf">Welcome to Interview Prep Buddy</h1>
    </div>
    <div id="auth">
        <div id="but">

            <div id="col"></div>
            <button class="tog" id="SI" onclick="togg1()">Sign In</button> <button class="tog" onclick="togg2()">Sign
                Up</button>
        </div>
        <div id="bar">

            <div id="log" class="ath">
                <form action="" method="post">
                    <input type="text" id="email" class="inp">
                    <input type="text" id="password" class="inp">
                    <input type="button" id="sub" class="inp" value="Submit">

                </form>

            </div>
            <div id="sig" class="ath">
                <form action="" method="post">
                    <input type="text" id="Semail" class="inp">
                    <input type="text" id="Spassword" class="inp">
                    <input type="text" id="SCpassword" class="inp">
                    <input type="button" id="Ssub" class="inp" value="Submit">

                </form>
            </div>
        </div>

    </div>
    <script src="homepa.js"></script>
</body>

</html>