<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="inp.css">
</head>

<body>
    <div id="nav">
        <h1 id="we">Welcome , User</h1>
        <button id="lo">Log out</button>


    </div>
    <div id="men">
        <button class="nb">Contact Us</button>
        <button class="nb">History</button>
        <button class="nb">Account Setting</button>
        <button class="nb">Features</button>
        <button id="tog" onclick="togg()">=</button>
    </div>

    <div id="main">
        <form action="" method="post">
            <div id="com" class="inpp">
                <h2 style=" position: relative;left: 0.5vw;">Which company are you targeting?</h2>
                <label for="fruitSelect"></label>
                <select id="coml" name="coml">
                    <option value="apple">Apple</option>
                    <option value="Google">Google</option>
                    <option value="Microsoft">Microsoft</option>
                    <option value="Amazon">Amazon</option>
                </select>
            </div>
            <div id="pos" class="inpp">
                <h2 style=" position: relative;left: 0.5vw;">Which role are you applying for?</h2>
                <label for="fruitSelect"></label>
                <select id="posl" name="posl">
                    <option value="SDE">SDE</option>
                    <option value="Full Stack Developer">Full Stack Developer</option>
                    <option value="FrontEnd Developer">FrontEnd Developer</option>
                    <option value="Backend Developer">Backend Developer</option>
                </select>
            </div>
            <div id="res" class="inpp">
                <h2 style="position: relative; left: 1vh;">Upload Resume:</h2><input type="file" id="pdf" name="pdfFile"
                    accept=".pdf">
            </div>
            <input type="button" value="Generate" id="gen">
        </form>
    </div>

    <script src="inpj.js"></script>
</body>

</html>