<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="inp.css">
</head>

<body>
    <div id="nav">
        <h1 id="we">Welcome , User</h1>
        <button id="lo">Log out</button>


    </div>
    <div id="men">
        <button class="nb">Contact Us</button>
        <button class="nb">History</button>
        <button class="nb">Account Setting</button>
        <button class="nb">Features</button>
        <button id="tog" onclick="togg()">=</button>
    </div>

    <div id="main">

        <h1 style="color: white; position: relative; left: 23vh;"> Here are some relevant questions:</h1>
        <div id="ques">

            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>

        </div>
        <input type="button" value="Practise" id="gen">

    </div>

    <script src="inpj.js"></script>
</body>

</html>